Actions
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput type="text" name="name" placeholder="Nom" [ngModel]="item?.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Quantité</mat-label>
        <input matInput type="number" name="quantity" placeholder="Quantité" [ngModel]="item?.quantity">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Poids</mat-label>
        <input matInput type="number" name="weight" placeholder="Poids" [ngModel]="item?.weight">
    </mat-form-field>
    <input mat-button type="submit" [value]="sumbitActionText">
</form>

<button mat-button (click)="generateNew()">Créer un nouveau élément</button>